/.vs/URL.Shorting/DesignTimeBuild/.dtbcache.v2
/.vs/
/.idea/.idea.URL.Shorting/.idea/.gitignore
/URL.Shorting/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
/.vs/URL.Shorting/v16/.suo
/URL.Shorting/obj/Debug/netcoreapp3.1/Razor/Views/Shared/_Layout.cshtml.g.cs
/URL.Shorting/obj/Debug/netcoreapp3.1/Razor/Views/Shared/_LoginPartial.cshtml.g.cs
/URL.Shorting/obj/Debug/netcoreapp3.1/Razor/Views/Shared/_ValidationScriptsPartial.cshtml.g.cs
/URL.Shorting/obj/Debug/netcoreapp3.1/Razor/Views/_ViewImports.cshtml.g.cs
/URL.Shorting/obj/Debug/netcoreapp3.1/Razor/Views/_ViewStart.cshtml.g.cs
/URL.Shorting/bin/Debug/netcoreapp3.1/appsettings.Development.json
/URL.Shorting/bin/Debug/netcoreapp3.1/appsettings.json
/.idea/.idea.URL.Shorting/.idea/dataSources.xml
/.idea/.idea.URL.Shorting/.idea/encodings.xml
/URL.Shorting/obj/Debug/netcoreapp3.1/Razor/Views/Shared/Error.cshtml.g.cs
/URL.Shorting/obj/Debug/netcoreapp3.1/Razor/Views/Generation/Generation.cshtml.g.cs
/URL.Shorting/obj/Debug/netcoreapp3.1/Razor/Views/Home/Index.cshtml.g.cs
/.idea/.idea.URL.Shorting/.idea/indexLayout.xml
/URL.Shorting/bin/Debug/netcoreapp3.1/Properties/launchSettings.json
/URL.Shorting/obj/Debug/netcoreapp3.1/Razor/Views/Account/Login.cshtml.g.cs
/URL.Shorting/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Cryptography.Internal.dll
/URL.Shorting/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Cryptography.KeyDerivation.dll
/URL.Shorting/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Identity.EntityFrameworkCore.dll
/URL.Shorting/bin/Debug/netcoreapp3.1/Microsoft.Bcl.AsyncInterfaces.dll
/URL.Shorting/bin/Debug/netcoreapp3.1/Microsoft.Bcl.HashCode.dll
/URL.Shorting/bin/Debug/netcoreapp3.1/runtimes/unix/lib/netcoreapp2.1/Microsoft.Data.SqlClient.dll
/URL.Shorting/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp2.1/Microsoft.Data.SqlClient.dll
/URL.Shorting/bin/Debug/netcoreapp3.1/Microsoft.Data.SqlClient.dll
/URL.Shorting/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Abstractions.dll
/URL.Shorting/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Design.dll
/URL.Shorting/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.dll
/URL.Shorting/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Relational.dll
/URL.Shorting/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.SqlServer.dll
/URL.Shorting/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Caching.Abstractions.dll
/URL.Shorting/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Caching.Memory.dll
/URL.Shorting/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.Abstractions.dll
/URL.Shorting/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.Binder.dll
/URL.Shorting/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.dll
/URL.Shorting/bin/Debug/netcoreapp3.1/Microsoft.Extensions.DependencyInjection.Abstractions.dll
/URL.Shorting/bin/Debug/netcoreapp3.1/Microsoft.Extensions.DependencyInjection.dll
/URL.Shorting/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Identity.Core.dll
/URL.Shorting/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Identity.Stores.dll
/URL.Shorting/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Logging.Abstractions.dll
/URL.Shorting/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Logging.dll
/URL.Shorting/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Options.dll
/URL.Shorting/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Primitives.dll
/URL.Shorting/bin/Debug/netcoreapp3.1/Microsoft.Identity.Client.dll
/URL.Shorting/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.JsonWebTokens.dll
/URL.Shorting/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Logging.dll
/URL.Shorting/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Protocols.dll
/URL.Shorting/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
/URL.Shorting/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Tokens.dll
/.idea/.idea.URL.Shorting/.idea/misc.xml
/URL.Shorting/bin/Debug/netcoreapp3.1/Newtonsoft.Json.dll
/URL.Shorting/obj/project.assets.json
/URL.Shorting/obj/project.nuget.cache
/URL.Shorting/obj/project.packagespec.json
/URL.Shorting/obj/Debug/netcoreapp3.1/Razor/Views/Account/Register.cshtml.g.cs
/.idea/.idea.URL.Shorting/riderModule.iml
/.vs/slnx.sqlite
/URL.Shorting/bin/Debug/netcoreapp3.1/runtimes/win-arm64/native/sni.dll
/URL.Shorting/bin/Debug/netcoreapp3.1/runtimes/win-x64/native/sni.dll
/URL.Shorting/bin/Debug/netcoreapp3.1/runtimes/win-x86/native/sni.dll
/URL.Shorting/bin/Debug/netcoreapp3.1/System.Collections.Immutable.dll
/URL.Shorting/bin/Debug/netcoreapp3.1/System.Configuration.ConfigurationManager.dll
/URL.Shorting/bin/Debug/netcoreapp3.1/System.Diagnostics.DiagnosticSource.dll
/URL.Shorting/bin/Debug/netcoreapp3.1/System.IdentityModel.Tokens.Jwt.dll
/URL.Shorting/bin/Debug/netcoreapp3.1/runtimes/unix/lib/netcoreapp2.0/System.Runtime.Caching.dll
/URL.Shorting/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp2.0/System.Runtime.Caching.dll
/URL.Shorting/bin/Debug/netcoreapp3.1/System.Runtime.Caching.dll
/URL.Shorting/bin/Debug/netcoreapp3.1/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
/URL.Shorting/bin/Debug/netcoreapp3.1/System.Security.Cryptography.ProtectedData.dll
/URL.Shorting/obj/Debug/netcoreapp3.1/URL.Shorting.AssemblyInfo.cs
/URL.Shorting/obj/Debug/netcoreapp3.1/URL.Shorting.AssemblyInfoInputs.cache
/URL.Shorting/obj/Debug/netcoreapp3.1/URL.Shorting.assets.cache
/URL.Shorting/obj/Debug/netcoreapp3.1/URL.Shorting.csproj.CopyComplete
/URL.Shorting/obj/Debug/netcoreapp3.1/URL.Shorting.csproj.CoreCompileInputs.cache
/URL.Shorting/obj/Debug/netcoreapp3.1/URL.Shorting.csproj.FileListAbsolute.txt
/URL.Shorting/obj/URL.Shorting.csproj.nuget.dgspec.json
/URL.Shorting/obj/URL.Shorting.csproj.nuget.g.props
/URL.Shorting/obj/URL.Shorting.csproj.nuget.g.targets
/URL.Shorting/URL.Shorting.csproj.user
/URL.Shorting/obj/Debug/netcoreapp3.1/URL.Shorting.csprojAssemblyReference.cache
/URL.Shorting/bin/Debug/netcoreapp3.1/URL.Shorting.deps.json
/URL.Shorting/bin/Debug/netcoreapp3.1/URL.Shorting.dll
/URL.Shorting/obj/Debug/netcoreapp3.1/URL.Shorting.dll
/URL.Shorting/bin/Debug/netcoreapp3.1/URL.Shorting.exe
/URL.Shorting/obj/Debug/netcoreapp3.1/URL.Shorting.exe
/URL.Shorting/obj/Debug/netcoreapp3.1/URL.Shorting.genruntimeconfig.cache
/URL.Shorting/obj/Debug/netcoreapp3.1/URL.Shorting.MvcApplicationPartsAssemblyInfo.cache
/URL.Shorting/bin/Debug/netcoreapp3.1/URL.Shorting.pdb
/URL.Shorting/obj/Debug/netcoreapp3.1/URL.Shorting.pdb
/URL.Shorting/obj/Debug/netcoreapp3.1/URL.Shorting.RazorAssemblyInfo.cache
/URL.Shorting/obj/Debug/netcoreapp3.1/URL.Shorting.RazorAssemblyInfo.cs
/URL.Shorting/obj/Debug/netcoreapp3.1/URL.Shorting.RazorCoreGenerate.cache
/URL.Shorting/obj/Debug/netcoreapp3.1/URL.Shorting.RazorTargetAssemblyInfo.cache
/URL.Shorting/obj/Debug/netcoreapp3.1/URL.Shorting.RazorTargetAssemblyInfo.cs
/URL.Shorting/bin/Debug/netcoreapp3.1/URL.Shorting.runtimeconfig.dev.json
/URL.Shorting/bin/Debug/netcoreapp3.1/URL.Shorting.runtimeconfig.json
/URL.Shorting/obj/Debug/netcoreapp3.1/staticwebassets/URL.Shorting.StaticWebAssets.Manifest.cache
/URL.Shorting/obj/Debug/netcoreapp3.1/staticwebassets/URL.Shorting.StaticWebAssets.xml
/URL.Shorting/obj/Debug/netcoreapp3.1/URL.Shorting.TagHelpers.input.cache
/URL.Shorting/obj/Debug/netcoreapp3.1/URL.Shorting.TagHelpers.output.cache
/URL.Shorting/bin/Debug/netcoreapp3.1/URL.Shorting.Views.dll
/URL.Shorting/obj/Debug/netcoreapp3.1/URL.Shorting.Views.dll
/URL.Shorting/bin/Debug/netcoreapp3.1/URL.Shorting.Views.pdb
/URL.Shorting/obj/Debug/netcoreapp3.1/URL.Shorting.Views.pdb
/URL.Shorting/obj/Debug/netcoreapp3.1/Razor/Views/Generation/UrlList.cshtml.g.cs
/URL.Shorting/obj/Debug/netcoreapp3.1/Razor/Views/Generation/UrlReturn.cshtml.g.cs
/.idea/.idea.URL.Shorting/.idea/vcs.xml
/.vs/VSWorkspaceState.json
/.idea/.idea.URL.Shorting/.idea/workspace.xml
/.idea/.idea.URL.Shorting/.idea/modules.xml
/.idea/.idea.URL.Shorting/.idea/.idea.URL.Shorting.iml
/.idea/.idea.URL.Shorting/.idea/contentModel.xml
/.idea/.idea.URL.Shorting/.idea/projectSettingsUpdater.xml
